/* font-family: 'Karla', sans-serif; */

/* Typography */

html, body {
    background-color: #acb7ae;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

h3, h4 {
    font-family: 'Karla', sans-serif;
    margin: 0;
}

.label-highlights {
    color: white;
    font-size: .8rem;
    letter-spacing: 1pt;
    position: absolute;
    left: 31%;
    top: 55%;
}

.counter {
    font-family: Geneva, Tahoma, sans-serif;
    font-size: 1.8rem;
    letter-spacing: .5pt;
}

.circle {
    content: "";
    position: relative;
    border: 1px solid rgba(255, 255, 255, .6);
    width: 280px;
    height: 280px;
    border-radius: 50%;
    top: 30vh;
    right: 16vh;
}

h4 {
    font-weight: 300;
}

.full-width {
    width: 100%;
    margin: 0 auto;
    color: black;
}

header {
    padding: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-left: 70px;
}

.logo {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: .155em;
    font-size: .85rem;
    width: 11em;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    font-family: sans-serif;
    display: inline-block;
    list-style-type: none;
    color: white;
    font-size: .9em;
    margin-right: 35px;
}

.menu-mobile {
    padding-top: 5px;
    width: 20px;
    height: 20px;
}

.menu-mobile span {
    display: block;
    width: 75%;
    height: .11em;
    background-color: white;
    margin-bottom: 5px;
}

.menu-mobile span:nth-child(2) {
    display: block;
    height: .11em;
    width: 100%;
    background-color: white;
    margin-bottom: 5px;
}

.user-search {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70px;
    height: 20px;
    border-radius: 20px;
    background-color: white;
    margin-left: auto;
    padding: 2px;
}

.user-search>span {
    display: block;
    width: 1px;
    height: 20px;
    background-color: lightgray;
}

main {
    position: relative;
    height: 90vh;
    padding-left: 210px;
}

main>section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 270px;
    height: 660px;
    padding-left: 30px;
    /* border: 2px solid lawngreen */
}

main>h1 {
    font-family: "Arial Black", Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    font-size: 3.5rem;
    top: 462px;
    left: 47px;
    transform-origin: 0 0;
    transform: rotate(-90deg);
}

section {
    width: 300px;
}

section .slideshow-id {
    border: 1px solid rgba(255, 255, 255, .8);
    display: inline-block;
    padding: 5px;
    font-family: arial;
    font-size: 1.2rem;
    padding: 11px 10px;
}

section>p {
    font-size: .9rem;
    margin-top: 0;
    line-height: 1.5em;
}

section>ul.social {
    display: flex;
    padding: 0;
}

ul.social>li {
    width: 35px;
    height: 35px;
    margin: 3px;
    list-style-type: none;
}

ul.social>li>img {
    width: 100%;
}

aside {
    position: absolute;
    /* background-color: aqua; */
    top: 10px;
    right: 0vw;
    width: 20vw;
    height: 95%;
    z-index: 2;
}

aside img.thumb {
    position: absolute;
    width: 17vw;
    right: 20px;
    top: 20vh;
}

footer {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 63px;
    width: 97%;
    height: 10px;
}

.line-divider {
    position: relative;
    top: 0%;
}

.line-1 {
    width: 14em;
    margin-right: .8em;
}

.line-2 {
    flex-grow: 1;
    margin-right: 10px;
}

footer .model {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.model p {
    margin: 0;
    font-size: .8rem;
}

.model>.img-frame {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: greenyellow;
    margin-right: 10px;
}

.line-divider span {
    position: absolute;
    background-color: rgba(255, 255, 255, .6);
    ;
    height: 1px;
    width: 100%;
}

footer .controls {
    right: 1vw;
    bottom: 13px;
    color: white;
    /* background-color: pink; */
}

.controls i {
    font-size: 3rem;
}

footer .controls::after {
    content: "";
    background-color: rgba(255, 255, 255, .2);
    height: 100vh;
    width: 2px;
    right: 15px;
    position: absolute;
    bottom: 35px;
}

.controls .dimmed {
    color: rgba(255, 255, 255, .2);
}